<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    
	<bean id="employee1" class="com.Test.Employee">
	
	  <constructor-arg name="employeeId" value="321" />
	  <constructor-arg name="employeeName" value="Suraj Kumar" />
	  <constructor-arg name="employeeRole" value="QA Analyst" />
	  <constructor-arg name="employeeSalary" value="98763.24" />
	  
	 

	</bean>
</beans>